h1 {
	font-size: 2.5rem;
}

.container {
	padding-top: 5rem;
	padding-bottom: 5rem;
	background-color: #e5b700;
	text-align: center;
}

.btn {
	padding: 1rem;
	margin: 0.5rem;
	font-size: 1rem;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	color: aliceblue;
}

.btn-info {
	background-color: blue;
}

.btn-danger {
	background-color: red;
}

h4 {
	font-size: 1.5rem;
}
